*{
    margin: 0%;
    padding: 0%;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
}

html,body{
    height: 540vh;
    width: 100vw;
}

#main{
    width: 100vw;
    height: 540vh;
    background-color:silver;
    display: block;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 5s;
    
}

#icon{
   
    width: fit-content;
    height: fit-content;
    margin-left: 30px;
    padding-top: 20px;
}

#menu{
    position: fixed;
    display: flex;
    justify-content: center;
    margin-top: -4%;
    margin-left: 95%;
    height: 40px;
    width: 40px;
    align-items: center;
    border-radius: 50%;
    /* background-color: rgb(23, 133, 228); */
}

#text1{
    
    width: fit-content;
    height: fit-content;
    font-size: 7vw;
   
    margin-top: 2%;
    line-height: 1.4;
    font-weight: 100;
    
}

#text2 {
    height: fit-content;
    width: fit-content;
    font-size: 7vw;
     color: #0a0a0a;
    line-height: 1.4;
    font-weight: 100;

}

#text1 h1{
    margin-left: 0px;
    margin-top: 10px;
}

#img{
    overflow: hidden;
    width: 30vw;
    height: 57vh;
     margin-top: 20%;
     margin-left: 60%;
     
}

#t1{
    margin-left: 3%;
}

#r h5{
    margin-left: 3%;
    height: min-content;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

#t2{
    margin-left: 3%;
}

#r h5{
    margin-left: 3%;
    height: min-content;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}

#img2{
    overflow: hidden;
    width: 30vw;
    height: 55vh;
    margin-top: 20%;
    margin-left: 6%;
   
}

 #img img{
   overflow:hidden;
    width: 30vw;
   height: 45vh;
   animation: w .7s; 
   transition: transform 2s;
}

 #img2 img{
    overflow:hidden;
    width: 30vw;
    height: 45vh;
    animation: w .7s;
    transition: transform 2s;
}


#cursor{
    
    position: fixed;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border-width: 5px;
    border-color: #0a0a0a;
    border: solid;
   
    z-index: 99999999;
}


#pointer{
   top: -200px;
    fill: black;
    position: fixed;
    height: 90px;
    width: 90px;
    border-radius: 50%;
 
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999999999999999999999;
}

#circle{
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-width: 5px;
    border-color: #0a0a0a;
    border: solid;
    background-color: white;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pointer .arrow{
    fill: white;
   font-size: smaller;
   position: absolute;
    height: 20px;
    width: 20px;
    mix-blend-mode: difference;
    
}

#txt{
    display: flex;
    justify-content:flex-start;
    height: 10vh;
    width: 100vw;
    margin-left: 7%;
    margin-top: 9%;
    font-size: 4vh;
   
}

.txt{
    margin-left:-200px;
}
#email{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 150px;
    width:150px;
    border-radius: 50%;
    background-color: #0a0a0a;
    color: aliceblue;
    margin-top: 5%;
    margin-left: 6%;
    /* transform: translate(1%,6%); */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#pointer .wheel{
    animation: an infinite 7s;
    position: absolute;
    fill: white;
}


    #img img:hover {

    transform: scale(1.05) ; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


    #img2 img:hover {

    transform: scale(1.05) ; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


@keyframes an {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 500px) {
    

    #img{
        margin-top: 36%;
        margin-left: 0%;
        width: 100vw;
    }

    #img img{
        width:100%;
    }

    #img2{
        margin-top: 36%;
        margin-left: 0%;
        width: 100vw;
    }

    #img2 img{
        width:100%;
    }
  }